.gradaint-button-container{
    width:240px;
    height:30px;
    background: linear-gradient(91.14deg, #1DAFD9 3.55%, #02D8AD 99.28%);
    border-radius: 10px;
    margin-left: 50px;
    cursor: pointer;
}
.gradaint-button-text{
    display: flex;
    font-family: Raleway;
    font-weight: 600;
    font-size: 20px;
    height: 30px;
    color: white;
    
    justify-content: center;
    flex-direction: column;
}