h1{
  font-size: 55px;
  font-weight: bolder;
  color: #003C3C;
  font-family: Raleway;
 

}
h2{
 
  width: 40vw;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 100;
  color: #99B4AF;
}
.header-2{
  
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}
.App {
  
}
.dots{
  width: 100px;
  height: 100px;
  opacity: 0.6;
  margin-top:-65px;
  margin-left: 56vw;
}
.button_container_1{
  display:flex;
  flex-direction: row;
  justify-content: center;
  z-index: 500;
  
}
.Sub_container_1{
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  text-align: center;
}
.button_top{
  position: absolute;
  text-align: center;
  top:20px;
  display: flex;
  width: 165%;
  
  justify-content: center;
}
.dots1{
  width: 120px;
  height: 100px;
  opacity: 0.6;
  margin-top:-350px;
  margin-left: 20px;
  position:absolute;
  z-index: -1;
}
.dots2{
  width: 50px;
  height: 50px;
  opacity: 0.6;
  margin-top:-360px;
  right: 0;
  position:absolute;
  z-index: -1;
}
@media screen and (max-width: 900px) {
 
    .button_top{
      
      width: 100%;
      
   
  }
  h1{
    font-size: 30px;
  }
  .dots{
    display: none;
  }
  .dots1{
    display: none;
  }
  .dots2{
    display: none;
  }
}
